<div class="bg-white/5 flex flex-col h-[70vh] ">

  <div class="top-0 z-10 bg-[rgb(255,254,248)]">
    <app-header></app-header>
  </div>

  <div class="overflow-y-auto bg-[rgb(255,254,248)]">
    <app-row
      [startDate]="'15.02.2005.'"
      [endDate]="'16.02.2005.'"
      [startTime]="'23:40'"
      [endTime]="'00:05'"
      [departure]="'Petra Drapsina 25, Novi Sad'"
      [destination]="'Žarka Zrenjanina 4, Novi Sad'">
    </app-row>
    <app-row
      [startDate]="'15.02.2005.'"
      [endDate]="'16.02.2005.'"
      [startTime]="'23:40'"
      [endTime]="'00:05'"
      [departure]="'Petra Drapsina 25, Novi Sad'"
      [destination]="'Žarka Zrenjanina 4, Novi Sad'">
    </app-row>
    <app-row
      [startDate]="'15.02.2005.'"
      [endDate]="'16.02.2005.'"
      [startTime]="'23:40'"
      [endTime]="'00:05'"
      [departure]="'Petra Drapsina 25, Novi Sad'"
      [destination]="'Žarka Zrenjanina 4, Novi Sad'">
    </app-row>
    <app-row
      [startDate]="'15.02.2005.'"
      [endDate]="'16.02.2005.'"
      [startTime]="'23:40'"
      [endTime]="'00:05'"
      [departure]="'Petra Drapsina 25, Novi Sad'"
      [destination]="'Žarka Zrenjanina 4, Novi Sad'">
    </app-row>
    <app-row
      [startDate]="'15.02.2005.'"
      [endDate]="'16.02.2005.'"
      [startTime]="'23:40'"
      [endTime]="'00:05'"
      [departure]="'Petra Drapsina 25, Novi Sad'"
      [destination]="'Žarka Zrenjanina 4, Novi Sad'">
    </app-row>
    <app-row
      [startDate]="'15.02.2005.'"
      [endDate]="'16.02.2005.'"
      [startTime]="'23:40'"
      [endTime]="'00:05'"
      [departure]="'Petra Drapsina 25, Novi Sad'"
      [destination]="'Žarka Zrenjanina 4, Novi Sad'">
    </app-row>
    <app-row
      [startDate]="'15.02.2005.'"
      [endDate]="'16.02.2005.'"
      [startTime]="'23:40'"
      [endTime]="'00:05'"
      [departure]="'Petra Drapsina 25, Novi Sad'"
      [destination]="'Žarka Zrenjanina 4, Novi Sad'">
    </app-row>
    <app-row
      [startDate]="'15.02.2005.'"
      [endDate]="'16.02.2005.'"
      [startTime]="'23:40'"
      [endTime]="'00:05'"
      [departure]="'Petra Drapsina 25, Novi Sad'"
      [destination]="'Žarka Zrenjanina 4, Novi Sad'">
    </app-row>
    <app-row
      [startDate]="'15.02.2005.'"
      [endDate]="'16.02.2005.'"
      [startTime]="'23:40'"
      [endTime]="'00:05'"
      [departure]="'Petra Drapsina 25, Novi Sad'"
      [destination]="'Žarka Zrenjanina 4, Novi Sad'">
    </app-row>
    <app-row
      [startDate]="'15.02.2005.'"
      [endDate]="'16.02.2005.'"
      [startTime]="'23:40'"
      [endTime]="'00:05'"
      [departure]="'Petra Drapsina 25, Novi Sad'"
      [destination]="'Žarka Zrenjanina 4, Novi Sad'">
    </app-row>
  </div>
</div>
