<div class="bg-[rgb(255,254,248)] bg/5 h-full flex flex-col">
    <header class=" bg-[rgb(255,254,248)] h-fit text-[#606C38] border-b border-[#606C38] font-[Inter] font-medium px-4 py-2 text-md">
        Passengers
    </header>
    <div class="bg-[rgb(255,254,248)] flex flex-col flex-1 overflow-y-auto">
        <app-passenger></app-passenger>
        <app-passenger></app-passenger>
        <app-passenger></app-passenger>
        <app-passenger></app-passenger>
        <app-passenger></app-passenger>
        <app-passenger></app-passenger>
        <app-passenger></app-passenger>
        <app-passenger></app-passenger>
        <app-passenger></app-passenger>
        <app-passenger></app-passenger>
        <app-passenger></app-passenger>
        <app-passenger></app-passenger>
        <app-passenger></app-passenger>
        <app-passenger></app-passenger>
        <app-passenger></app-passenger>
        <app-passenger></app-passenger>
    </div>
</div>