<div class="grid grid-cols-1 sm:grid-cols-2 gap-x-10 gap-y-6 mt-8">

  <app-profile-info-row
    label="Name"
    value="Lazar">
  </app-profile-info-row>

  <app-profile-info-row
    label="Surname"
    value="Jović">
  </app-profile-info-row>

  <app-profile-info-row
    label="Phone number"
    value="069123456">
  </app-profile-info-row>

  <app-profile-info-row
    label="Email"
    value="bm230294d@student.etf.bg.ac.rs">
  </app-profile-info-row>

  <div class="sm:col-span-2">
      <app-profile-info-row
        label="Adress"
        value="Beogradska 35, Požarevac">
      </app-profile-info-row>
  </div>

</div>
