<!-- profile.component.html -->
<div class="grid grid-cols-1 sm:grid-cols-2 gap-x-10 gap-y-6 mt-8">
  <app-profile-info-row
    [label]="'Name'"
    [value]="profile.name"
    (valueChanged)="onFieldChanged('name', $event)"
  >
  </app-profile-info-row>

  <app-profile-info-row
    [label]="'Surname'"
    [value]="profile.surname"
    (valueChanged)="onFieldChanged('surname', $event)"
  >
  </app-profile-info-row>

  <app-profile-info-row
    [label]="'Phone number'"
    [value]="profile.phoneNumber"
    [type]="'tel'"
    (valueChanged)="onFieldChanged('phoneNumber', $event)"
  >
  </app-profile-info-row>

  <app-profile-info-row
    [label]="'Email'"
    [value]="profile.email"
    [type]="'email'"
    [editable]="false"
    (valueChanged)="onFieldChanged('email', $event)"
  >
  </app-profile-info-row>

  <div class="sm:col-span-2">
    <app-profile-info-row
      [label]="'Address'"
      [value]="profile.address"
      [width]="'full'"
      (valueChanged)="onFieldChanged('address', $event)"
    >
    </app-profile-info-row>
  </div>

  <!-- Driver Section -->
  @if (profile.role === 'DRIVER') {
  <div class="sm:col-span-2 text-center">
    <h2 class="text-xl sm:text-2xl md:text-3xl font-bold text-[#606C38] leading-tight">
      Driving information
    </h2>
  </div>

  <app-profile-info-row
    [label]="'Make'"
    [value]="profile.vehicleMake!"
    (valueChanged)="onFieldChanged('vehicleMake', $event)"
  >
  </app-profile-info-row>
  
  <app-profile-info-row
    [label]="'Model'"
    [value]="profile.vehicleModel!"
    (valueChanged)="onFieldChanged('vehicleModel', $event)"
  >
  </app-profile-info-row>

  <app-profile-info-row
    [label]="'Vehicle Type'"
    [value]="getVehicleTypeString(profile.vehicleType!)"
    [options]="vehicleTypeOptions"
    (valueChanged)="onFieldChanged('vehicleType', $event)"
  >
  </app-profile-info-row>

  
  <app-profile-info-row
  [label]="'License Plate'"
    [value]="profile.vehicleLicensePlate!"
    [editable]="true"
    [singleLineLabel]="true"
    (valueChanged)="onFieldChanged('vehicleLicensePlate', $event)"
    >
  </app-profile-info-row>
  
  <app-profile-info-row
    [label]="'Passenger seats'"
    [value]="getSeatsString(profile.vehicleSeats!)"
    [editable]="true"
    [singleLineLabel]="true"
    (valueChanged)="onFieldChanged('vehicleSeats', $event)"
  >
  </app-profile-info-row>

  <app-profile-info-row [label]="'Pet Friendly'" [value]="profile.vehiclePetFriendly ?? false" [isBoolean]="true" (valueChanged)="onFieldChanged('vehiclePetFriendly', $event)">
  </app-profile-info-row>

  <app-profile-info-row [label]="'Baby Friendly'" [value]="profile.vehicleBabyFriendly ?? false" [isBoolean]="true" (valueChanged)="onFieldChanged('vehicleBabyFriendly', $event)">
  </app-profile-info-row>
  
  <app-profile-info-row
    [label]="'Active in last 24h'"
    [value]="profile.activeTime!"
    [editable]="false"
    [singleLineLabel]="true"
  >
  </app-profile-info-row>
}

<!-- Buttons -->
<div class="grid grid-cols-2 sm:col-span-2 gap-4">
    <div
      class="justify-self-start"
      [class.col-span-2]="!editService.isEditMode() && profile.role !== 'DRIVER'"
    >
      <app-button size="medium" [variant]="'light-green'" (click)="onEditClick()">
        {{ editButtonText() }}
      </app-button>
    </div>
    @if (profile.role === 'DRIVER' && !editService.isEditMode()) {
    <div class="justify-self-end">
      @if (profile.isActive) {
        <app-button variant="dark-brown" (click)="onDeactivateClick()"> Deactivate </app-button>
      } @else {
        <app-button variant="dark-brown" (click)="onActivateClick()"> Activate </app-button>
      }
    </div>
    }
    @if (editService.isEditMode()) {
    <div class="justify-self-end">
      <app-button variant="dark-brown" (click)="onChangePasswordClick()"> Change Password </app-button>
    </div>
    }
  </div>
</div>

<!-- Change Password Dialog -->
@if (showPasswordDialog) {
  <app-change-password-dialog
    (closed)="onPasswordDialogClosed()"
    (passwordChanged)="onPasswordChanged($event)"
  ></app-change-password-dialog>
}
