:root {
  --scroll-duration: 8s;
}

.value {
  display: inline-block;
  margin: 0;
  padding: 0;
  min-width: max-content;
}

.value.should-scroll {
  animation: scroll-text var(--scroll-duration) linear infinite;
}

@keyframes scroll-text {
  0% {
    transform: translateX(0);
  }
  8% {
    transform: translateX(0);
  }
  92% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}