.find-trip-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.map-container {
  flex: 1;
  position: relative;
  width: 100%;
  height: 100%;
}

.map-container app-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.form-content {
  /* Form content will be styled as needed */
}
