<!-- Overlay -->
<div
  class="fixed inset-0 flex items-center justify-center z-[9999]"
  style="background: rgba(0, 0, 0, 0.45);"
>

  <!-- Dialog -->
  <div class="bg-white rounded-lg shadow-lg w-[320px] p-6 text-center border-4 border-[#606C38]">

    <h2 class="text-[#606C38] font-bold text-lg mb-3">
      {{ title }}
    </h2>

    <p class="text-[#606C38] text-sm mb-6">
      {{ message }}
    </p>

    <div class="flex gap-4 justify-center">
      <button
        (click)="cancel()"
        class="border border-[#606C38] px-6 py-1.5 rounded
               text-[#606C38] hover:bg-[#606C38] hover:text-white transition">
        Cancel
      </button>

      <button
        (click)="confirm()"
        class="border border-[#606C38] px-6 py-1.5 rounded
               text-[#606C38] hover:bg-[#606C38] hover:text-white transition">
        Confirm
      </button>
    </div>

  </div>
</div>
